.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--appbar-height) - var(--bottom-nav-height));
  width: 100%;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}
